@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary-color;
    font-family: Proxima Nova, system-ui, sans-serif;
    font-size: 18px;
  }
}

header {
  background-image: url("../images/bg-desktop-dark.jpg");
}

.todo--items {
  @apply  rounded-md bg-dark-desaturated-blue;
}

.todo--items li, .bottom--wrapper {
   @apply px-6 py-5;
}

.todo--items li:last-child {
    padding-bottom: 0;
}

.bottom--wrapper {
    @apply border-t;
}
.todo--items li:not(:last-child) {
  @apply pb-5 mb-5 border-b;
}

.todo--list .event {
  @apply cursor-pointer;
}



@media (max-width:767px) {
    .bottom--wrapper {
        flex-wrap: wrap;
    }
    .state {
        width: 100%;
    }
}